body {
                    background-color: rgb(255, 255, 255);
                    text-align: center;
                    font-family: Arial, sans-serif;
}
                h1 {
                    color: navy;
                }
                h3 {
                    color: darkred;
                }
                ul {
                    text-align: left;
                    display: inline-block;
                }

                img {
                    object-fit: cover;
                }