.base {
    font-size: 25px;
  font-family: Arial, sans-serif;
  color: #333;
  border-radius: 25px;
  background-image: url(Photos/prf_bkgrnd.webp);
  /* background-position: center; */
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat;
  padding: 20px;
  width: 400px;
  height: 550px;
  position: centered;
   margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 20%;

  top: 20%;
  left: 37%;
  right:43%;
    /* transform: translate(-50%, -50%); */
    /* border-radius: 10%; */
}
.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.love_button{
/* font-size : 200%; */
background-image: url(Photos/lv_btn.jpg);
background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* background-color: #4CAF50; */
  /* color: white; */
  text-align: center;
  line-height: 60px;
  font-size: 110px;
  position: absolute;
   top: 43%;
  left: 18%;
  /* transform: translateX(-50%); */
  cursor: pointer;
}
.hate_button{
/* font-size : 200px; */
background-image: url(Photos/ht_btn.png);
background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* background-color: #fa0f0f; */
  /* color: white; */
  text-align: center;
  line-height: 60px;
  font-size: 110px;
  position: absolute;
   top: 42%;
  right: 18%;
  /* transform: translateX(-50%); */
  cursor: pointer;
}

.emote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  position : absolute;
  bottom : 15%;
  left : 47%;
  object-fit: cover; /* Scales the image to cover the container while maintaining aspect ratio, cropping the edges */
  object-position: center;
}

.darken {
  filter: brightness(50%);
  transition: filter 0.3s ease;
}